body {
    background-image: url(https://julianavarella.files.wordpress.com/2018/08/rose-gold-b.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Times New Roman', Times, serif;
}